<div>
  <h2>Game Title: {{post.title}} </h2>
</div>
<div>
  <a href="/post/{{ id }}"><img src='images/{{image}}.jpg'/></a>
</div>
<div>
  <h2>Genre: {{post.genre}}</h2>
  <h2>Game Review:</h2> 
<div>
{{post.review}}
</div>
<div>
  <span> Posted by {{user.username}}</span>
</div>
  <p>{{comment.comment_text}}</p>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}